* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
}


/* GENERAL */

html,
body {
    /* cursor: none; */
    height: 100%;
    width: 100%;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    /* cursor: none; */
}

.logo {
    max-height: 10vh;
    max-width: 30vh;
    margin-top: -19px;
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* padding: 5px; */
    /* border-radius: 30%; */
}

.navbar {
    padding: -0 0 !important;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.jibran-top-nav {
    background: #3742fa;
    padding: 7px 0;
}

.navbar-nav>.navbar-li-tag>a {
    color: #fff !important;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}

.navbar-nav>.navbar-li-tag>a:hover,
.navbar-nav>.navbar-li-tag>a:focus {
    background: #ffa502 !important;
    color: #000 !important;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.navbar-nav>li {
    transition: all 0.5s ease-in-out;
}

.navbar-nav>li:hover {
    transform: scale(110%);
    transition: all 0.5s ease-in-out;
}

.navbar-toggle {
    background-color: #ffa502;
    border: 1px solid #fff !important;
    border-radius: 0;
}

.navbar-toggle:hover {
    background-color: #3742fa !important;
}

.navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.navbar-toggle .icon-bar:hover {
    background-color: #000 !important;
}

.navbar-collapse {
    max-height: none !important;
}

.jibran-top-nav ul.navbar-nav>li.active>a {
    background-color: transparent;
    color: #000 !important;
    background: #ffa502;
    border-radius: 5px;
}

.form-signin-head li a {
    color: #fff !important;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}

.form-signin-head li a:hover {
    background: #ffa502;
    color: #000 !important;
}

.search {
    background: #fff;
    border-radius: 5px;
}

.search input[type=text] {
    background: none;
    border: none;
    outline: none;
    color: #000;
    font-size: 17px;
    padding: 8px 20px;
    /* box-shadow: inset 13px 12px 20px 20px rgb(0 0 0 / 30%); */
}

.search input::placeholder {
    text-align: center;
    /* color: #64707b; */
    font-weight: 500;
    font-size: 16px;
}

.search a {
    color: #000;
    /* background: #000; */
    /* border: 2px solid #000; */
    padding: 9px 15px;
    border-radius: 5px;
}

.search a:hover {
    background: #ffa502;
    color: #fff;
}

.heading {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}